In [ ]:
from binance.um_futures import UMFutures
from binance.cm_futures import CMFutures
from binance.spot import Spot
import pandas as pd
from time import sleep

um_futures_client = UMFutures()

In [ ]:
def download_klines(file:str, symbol:str, timeframe='15m', count=1, client='um') -> None:
    cols = ['open_time', 'open', 'high', 'low', 'close', 'vol', 'close_time', 'qa_vol', 'trades',]
    if client == 'cm':
        _client = CMFutures()
    elif client == 'um':
        _client = UMFutures()
    else:
        _client = Spot()
    try:
        df = pd.read_csv(file)
    except:
        res = _client.klines(symbol, timeframe)
        df = pd.DataFrame(res).drop([9, 10, 11], axis=1)
        df.columns = cols
        df.to_csv(file, index=False)
        df = pd.read_csv(file)
    for i in range(count):
        min_timestamp = df['open_time'].min()-1
        res = _client.klines(symbol, timeframe, endTime=min_timestamp)
        _df = pd.DataFrame(res).drop([9, 10, 11], axis=1)
        _df.columns = cols
        df = pd.concat([_df, df], ignore_index=True)
        df.to_csv(file, index=False)
        print(f'Iteration {i+1} in {count}.')

In [ ]:
symbol = 'BTCUSDT'
tf = '1m'

In [27]:
download_klines('klines/' + f'{symbol}_{tf}.csv', symbol, timeframe=tf, count=500, client='um')

Iteration 1 in 500.
Iteration 2 in 500.
Iteration 3 in 500.
Iteration 4 in 500.
Iteration 5 in 500.
Iteration 6 in 500.
Iteration 7 in 500.
Iteration 8 in 500.
Iteration 9 in 500.
Iteration 10 in 500.
Iteration 11 in 500.
Iteration 12 in 500.
Iteration 13 in 500.
Iteration 14 in 500.
Iteration 15 in 500.
Iteration 16 in 500.
Iteration 17 in 500.
Iteration 18 in 500.
Iteration 19 in 500.
Iteration 20 in 500.
Iteration 21 in 500.
Iteration 22 in 500.
Iteration 23 in 500.
Iteration 24 in 500.
Iteration 25 in 500.
Iteration 26 in 500.
Iteration 27 in 500.
Iteration 28 in 500.
Iteration 29 in 500.
Iteration 30 in 500.
Iteration 31 in 500.
Iteration 32 in 500.
Iteration 33 in 500.
Iteration 34 in 500.
Iteration 35 in 500.
Iteration 36 in 500.
Iteration 37 in 500.
Iteration 38 in 500.
Iteration 39 in 500.
Iteration 40 in 500.
Iteration 41 in 500.
Iteration 42 in 500.
Iteration 43 in 500.
Iteration 44 in 500.
Iteration 45 in 500.
Iteration 46 in 500.
Iteration 47 in 500.
Iteration 48 in 500.
Iteration 49 in 500.
Iteration 50 in 500.
Iteration 51 in 500.
Iteration 52 in 500.
Iteration 53 in 500.
Iteration 54 in 500.
Iteration 55 in 500.
Iteration 56 in 500.
Iteration 57 in 500.
Iteration 58 in 500.
Iteration 59 in 500.
Iteration 60 in 500.
Iteration 61 in 500.
Iteration 62 in 500.
Iteration 63 in 500.
Iteration 64 in 500.
Iteration 65 in 500.
Iteration 66 in 500.
Iteration 67 in 500.
Iteration 68 in 500.
Iteration 69 in 500.
Iteration 70 in 500.
Iteration 71 in 500.
Iteration 72 in 500.
Iteration 73 in 500.
Iteration 74 in 500.
Iteration 75 in 500.
Iteration 76 in 500.
Iteration 77 in 500.
Iteration 78 in 500.
Iteration 79 in 500.
Iteration 80 in 500.
Iteration 81 in 500.
Iteration 82 in 500.
Iteration 83 in 500.
Iteration 84 in 500.
Iteration 85 in 500.
Iteration 86 in 500.
Iteration 87 in 500.
Iteration 88 in 500.
Iteration 89 in 500.
Iteration 90 in 500.
Iteration 91 in 500.
Iteration 92 in 500.
Iteration 93 in 500.
Iteration 94 in 500.
Iteration 95 in 500.
Iteration 96 in 500.
Iteration 97 in 500.
Iteration 98 in 500.
Iteration 99 in 500.
Iteration 100 in 500.
Iteration 101 in 500.
Iteration 102 in 500.
Iteration 103 in 500.
Iteration 104 in 500.
Iteration 105 in 500.
Iteration 106 in 500.
Iteration 107 in 500.
Iteration 108 in 500.
Iteration 109 in 500.
Iteration 110 in 500.
Iteration 111 in 500.
Iteration 112 in 500.
Iteration 113 in 500.
Iteration 114 in 500.
Iteration 115 in 500.
Iteration 116 in 500.
Iteration 117 in 500.
Iteration 118 in 500.
Iteration 119 in 500.
Iteration 120 in 500.
Iteration 121 in 500.
Iteration 122 in 500.
Iteration 123 in 500.
Iteration 124 in 500.
Iteration 125 in 500.
Iteration 126 in 500.
Iteration 127 in 500.
Iteration 128 in 500.
Iteration 129 in 500.
Iteration 130 in 500.
Iteration 131 in 500.
Iteration 132 in 500.
Iteration 133 in 500.
Iteration 134 in 500.
Iteration 135 in 500.
Iteration 136 in 500.
Iteration 137 in 500.
Iteration 138 in 500.
Iteration 139 in 500.
Iteration 140 in 500.
Iteration 141 in 500.
Iteration 142 in 500.
Iteration 143 in 500.
Iteration 144 in 500.
Iteration 145 in 500.
Iteration 146 in 500.
Iteration 147 in 500.
Iteration 148 in 500.
Iteration 149 in 500.
Iteration 150 in 500.
Iteration 151 in 500.
Iteration 152 in 500.
Iteration 153 in 500.
Iteration 154 in 500.
Iteration 155 in 500.

In [25]:
df = pd.read_csv('klines/' + f'{symbol}_{tf}.csv')
df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')

In [26]:
df

,open_time,open,high,low,close,vol,close_time,qa_vol,trades
0,2020-08-26 08:10:00,11364.79,11365.59,11355.73,11356.86,185.289,1598429459999,2.105005e+06,453
1,2020-08-26 08:11:00,11357.28,11357.60,11354.48,11355.93,28.278,1598429519999,3.211234e+05,177
2,2020-08-26 08:12:00,11355.93,11356.43,11355.92,11356.08,12.719,1598429579999,1.444392e+05,177
3,2020-08-26 08:13:00,11356.07,11361.00,11356.07,11360.28,75.843,1598429639999,8.614862e+05,273
4,2020-08-26 08:14:00,11360.27,11369.00,11359.67,11369.00,121.506,1598429699999,1.380859e+06,352
...,...,...,...,...,...,...,...,...,...
1375495,2023-04-08 13:05:00,27982.10,27982.10,27982.00,27982.10,62.039,1680959159999,1.735979e+06,583
1375496,2023-04-08 13:06:00,27982.00,27982.10,27977.70,27977.80,74.921,1680959219999,2.096343e+06,574
1375497,2023-04-08 13:07:00,27977.70,27981.20,27977.70,27981.20,42.459,1680959279999,1.187946e+06,439
1375498,2023-04-08 13:08:00,27981.20,27981.30,27981.10,27981.30,33.840,1680959339999,9.468828e+05,466
1375499,2023-04-08 13:09:00,27981.30,27981.30,27981.20,27981.30,3.393,1680959399999,9.494042e+04,69

In [ ]:
df[['open', 'close']].iloc[5-2:5]